---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
const pageTitle = "Blog Post";
---
<BaseLayout url={frontmatter.url} pageTitle={pageTitle}>
    <h1>{frontmatter.title}</h1>
    <h2>Post author: {frontmatter.author}</h2>
    <slot />
</BaseLayout>
